<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="spendings">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
