<ion-header [translucent]="true">
  <ion-toolbar size="small">
    <ion-buttons slot="secondary">
      <ion-button (click)="onCancelClick()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      Category Icon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngFor="let icon of icons">
      <ion-item (click)="onIconSelected(icon)">
        <ion-icon slot="end" name="{{icon.name}}"></ion-icon>
        <ion-label>{{icon.name}}</ion-label>
      </ion-item>
    </ng-container>
</ion-content>
