<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let transaction of mergedTransactions" (click)="onTransactionEdit(transaction)">
      <ion-avatar slot="start">
        <ion-icon name="{{transaction.category.icon}}"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>
          <div>{{transaction.category.name}}</div>
          <div [ngClass]="{'expense': transaction.isExpense, 'income': !transaction.isExpense}">{{transaction.amount}}</div>
        </h2>
        <p> {{transaction.date | date: 'short'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
