<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Select Currency
        </ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="onCancelClick()">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar (ionChange)="onSearchTriggered($event)"></ion-searchbar>
    </ion-toolbar>
    <ion-list>
        <ion-item *ngFor="let currency of filteredData" (click)="onCurrencySelect(currency)">
            <ion-label>{{ currency.currency | currencySymbol }}</ion-label>
            <ion-note slot="end">{{ currency.name }}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
